* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.6s;
}

:root {
  --primary: #d96539;
  --black: #020105;
  --white: #ffffff;
  --p-color: #9a999b;
  --black-light: #363636;
}
